@font-face {
    font-family: 'Autograf';
    src: url('../fonts/AutografPERSONALUSEONLY.eot');
    src: url('../fonts/AutografPERSONALUSEONLYd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/AutografPERSONALUSEONLY.html') format('woff2'), url('../fonts/AutografPERSONALUSEONLY.woff') format('woff'), url('../fonts/AutografPERSONALUSEONLY.ttf') format('truetype'), url('../fonts/AutografPERSONALUSEONLY.svg#AutografPERSONALUSEONLY') format('svg');
    font-weight: normal;
    font-style: normal;
}
